<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>resources.messages</param-value>
    </context-param>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>AuthPackage.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Session.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Session.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Session.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>User.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>language</servlet-name>
        <servlet-class>User.language</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowTopics</servlet-name>
        <servlet-class>User.ShowTopics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Stats</servlet-name>
        <servlet-class>Session.Stats</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Note</servlet-name>
        <servlet-class>Admin.Note</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Messages</servlet-name>
        <servlet-class>User.Messages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMessage</servlet-name>
        <servlet-class>User.SendMessage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>language</servlet-name>
        <url-pattern>/language</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowTopics</servlet-name>
        <url-pattern>/ShowTopics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Stats</servlet-name>
        <url-pattern>/Stats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Note</servlet-name>
        <url-pattern>/Note</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Messages</servlet-name>
        <url-pattern>/Messages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMessage</servlet-name>
        <url-pattern>/SendMessage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>1200</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Stats</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/NieLubimyJavy</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
